body{
    font-family: 'Bruno Ace', cursive;
    justify-content: space-between;
    background-color: rgb(177, 175, 175);
    color: white;
    text-align: justify;

}

h1{
    padding-left: 3rem;
}

section{
    background: #ff9999;
    padding: 20px;
    border-radius: 3rem;
    margin-bottom: 3rem;
}

ol {
    background: #ff9999;
    padding: 20px;
    text-align: justify;
    border: none;
    border-radius: 0.5rem;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    color: gray;
    border-radius: 0.5rem;
    justify-content: space-around;
}

ol {
    /*list-style-type: none;*/
    padding: 5rem;
    border: 1px solid #ddd;
}

ol li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ol li:last-child {
    border-bottom: none
}

